<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-advanced-imagepicker" version="1.4.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>AdvancedImagePicker</name>
    <description>Cordova Plugin for an advanced (multiple) ImagePicker</description>

    <repo>https://github.com/EinfachHans/cordova-plugin-advanced-imagepicker</repo>
    <issue>https://github.com/EinfachHans/cordova-plugin-advanced-imagepicker/issues</issue>

    <license>MIT</license>

    <js-module name="AdvancedImagePicker" src="www/AdvancedImagePicker.js">
        <clobbers target="window.AdvancedImagePicker"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AdvancedImagePicker">
                <param name="android-package" value="de.einfachhans.AdvancedImagePicker.AdvancedImagePicker"/>
            </feature>
        </config-file>

        <source-file src="src/android/AdvancedImagePicker.java" target-dir="src/de/einfachhans/AdvancedImagePicker"/>
        <source-file src="src/android/AdvancedImagePickerErrorCodes.java" target-dir="src/de/einfachhans/AdvancedImagePicker"/>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>

        <preference name="ANDROID_IMAGE_PICKER_VERSION" default="1.2.2" />
        <framework src="io.github.ParkSangGwon:tedimagepicker:$ANDROID_IMAGE_PICKER_VERSION"/>
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AdvancedImagePicker">
                <param name="ios-package" value="AdvancedImagePicker"/>
            </feature>
        </config-file>

        <header-file src="src/ios/AdvancedImagePicker-Bridging-Header.h" />
        <source-file src="src/ios/AdvancedImagePicker.swift"  />

        <podspec>
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods use-frameworks="true">
                <pod name="YPImagePicker" spec="4.5.0"/>
            </pods>
        </podspec>

        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>This app requires access to the camera to take pictures and videos.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>This app requires access to the photo library to select pictures and videos.</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>This app requires access to the microphone to record videos.</string>
        </config-file>

        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    </platform>
</plugin>
